:root {
  --primary-blue: #3b82f6;
  --primary-blue-dark: #2563eb;
  --gray-800: #1f2937;
  --neutral-400: #9ca3af;
  --neutral-900: #111827;

  /* Dark mode variables */
  --bg-dark: #111827;
  --text-dark: #ffffff;
  --border-dark: #374151;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  margin: 25px;
}

.hero-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.content-col h1 {
  font-size: 50px;
}

.content-col p {
  font-size: 25px;
}

.cta-group {
  display: flex;
}

.input-wrapper {
  margin-right: 5px;
}

input[type="text"] {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid var(--border-dark);
}

.demo-button {
  border-radius: 5px;
  color: var(--text-dark);
  background-color: var(--primary-blue-dark);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.demo-button:hover {
  background-color: var(--primary-blue);
}

.brands-section {
  margin-top: 100px;
}

.trusted-by {
  margin-top: 10px;
}

.brand-logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.brand-logo {
  width: 100px;
}

.hero-image {
  width: 600px;
  border-radius: 10px;
}

@media (min-width: 640px) {
  .hero {
  }

  .content-col h1 {
  }

  .cta-group {
  }

  .demo-button {
  }

  .input-wrapper {
  }

  input[type="text"] {
  }
}

@media (min-width: 768px) {
  .content-col h1 {
  }
}

@media (min-width: 1024px) {
  .hero {
  }

  .hero-grid {
  }

  .content-col h1 {
  }

  .cta-group {
  }

  .brands-section {
  }

  .image-col {
  }
}

@media (min-width: 1280px) {
  .hero-grid {
    gap: 3rem;
  }
}

.dark-mode-toggle {
  border-radius: 5px;
  color: var(--text-dark);
  background-color: var(--primary-blue-dark);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  float: inline-end;
}

.dark-mode-toggle:hover {
  background-color: var(--primary-blue);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}
